.container {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
}

.header {
  height: 200px;
}

.main {
  flex: auto;
}

.navbar {
  padding: 10px;
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

li {
  overflow: hidden;
}

li a {
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  background-color: black;
  float: left;
}

.footer {
  height: 25px;
}
